/* Reset + base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
/* padding-top: 80px; */
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #098a29;
  padding: 15px 30px;
  display: flex;
  justify-content:center;
  z-index: 1000; /* important */
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

nav a:hover {
  color: #38bdf8;
}
.container {
  margin-top: 40px; 
  max-width: 1200px;
  margin: 80px auto 0 auto; /* top + center */
  padding: 20px;
}
.main-content {
  margin-top: 20px;
  padding: 20px;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.card button {
  background: #06c04d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background: #082402;
}
.cart {
  padding: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.cart-item button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.cart-item button:hover {
  background: #dc2626;
}
button {
  transition: 0.2s ease;
}

button:active {
  transform: scale(0.95);
}
/* Default button */


/* After added */
.btn-added {
  background: #22c55e;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}